/*===== BASE =======*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: $body-font;
    font-size: $normal-font-size;
}

body{
    background-color: $body-color;
    color: $text-color;
    font-weight: $font-regular;
    max-width: 100%;
    min-width: 320px;
    overflow-x: hidden;
    width: 100%;
}
span {
    color: $span-color;
}

button {
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
.header .nav {
    align-items: flex-start;
    background: transparent;
    backdrop-filter: blur(0);
    color: $span-color;
    display: grid;
    font-size: 0;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    overflow: visible;
    top: 0;
    right: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 80px;
    transform: translateY(0);
    transition: all .4s  ease;
    visibility: visible;
    z-index: 999;

    .inline_menu{
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: center;
    }
    .inline_col{
        -ms-flex-align: center;
        align-items: center;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        height: 100%;
        /* position: relative;  */
        transition: all .6s ease;
        z-index: 0;
    } 
    .menu_btn{
        -webkit-appearance: none!important;
        appearance: none!important;
        box-shadow: none!important;
        outline: none!important;
        background: transparent;
        cursor: pointer;
        margin: auto 0;
        top: 0px;
        bottom: 0;
        left: 30px;
        position: absolute;
        width: 60px;
        height: 60px;
    }
    .btn_line{
        background-color: $span-color;
        display: block;
        height: 1px;
        left: 0;
        margin: auto;
        position: absolute;
        transform-origin: center;
        transform: rotate(0deg);
        transition: all .6s ease;
    }
    &::after, &::before {
        background: $span-color;
        content: "";
        display: block;
        bottom: 0;
        position: absolute;
        width: calc(50% - 100px);
        height: 3px;
        transition: all .6s ease;
    }
    &::after {
        right: 0;
    }
    &::before {
        left: 0;
    }
    .btn_line:first-child {
        top: calc(50% - 3px);
        width: 40px;
    }
    .btn_line:last-child {
        top: calc(50% + 3px);
        width: 20px;
    }
    .inline_logo {
        align-content: center;
        align-items: center;
        cursor: pointer;
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0 auto;
        top: 36px;
        right: 0;
        left: 0;
        position: absolute;
        width: 180px;
        height: 67px;
        text-align: center;
        transition: all .4s ease;
        vertical-align: bottom;
        z-index: 1;
    }
    .logo_text {
        opacity: 1;
        transform: translate(0) scale(1);
        transition: all .4s ease;
        visibility: visible;
        max-width: 100%;
        width: 142px;
        height: 26px;
        font-family: $second-title-font;
    }
    .logo_mono {
        transition: all .4s ease;
    }
    .inline_cta{
        display: none;
        opacity: 1;
        padding-right: 30px;
        text-align: right;
        transition: all .3s ease;
        visibility: visible;
    }
}
i {
    font-style: italic;
}
/* ============ home ============ */
.hero_banner {
    width: 90%;
    margin:1.40rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 

    .hero_media {
        width: 90%;
        height: 40rem;
        margin: 0 auto 0;
        position: relative;
        overflow: hidden;
        border-radius: 9px;

        .home__img {
            position: absolute;
            top: -50%;
            left: 0;
            width: 100%;
            height: 200%;
            object-fit: cover;
            border-radius: 2.4rem;
            z-index: 1;
        }
        
    }
    .hero_unboring {
        position: absolute;
        top: 28rem;
        font-family: $title-font;
        font-weight: $font-regular;
        font-size: $biggest-font-size;
        text-align: center;
        line-height: $line-height;
        z-index: 7;
    }
}
.hero_im{
    position: absolute;
    width: 90%;
    height: 110%;
    background-color: $first-color;
    z-index: 5;
    transform-origin: right;
    transform: scaleX(1);
}

.hero_unboring h2 {
    font-size: $biggest-font-size;
}
.hero_intro_text {
    margin: 8rem auto 0;
    width: 21rem;
    height: 12.5rem;
    font-family: $body-font;
    font-weight: $font-regular;
    font-size: $h2-font-size;
    text-align: center;
    line-height: 2.5rem;
    overflow: hidden;
}
.asso {
    margin: 1.40rem auto 0;
    width: 85%;
    text-align: center;
    height: 14.4rem;
    font-family: $title-font;
    font-weight: $font-regular;
    font-size: $h2-font-size;
    line-height: 3.4rem;
    overflow: hidden;
}
.objectif {
    margin: 0rem auto 0;
    width: 60%;
    height: 30rem;
    font-family: $body-font;
    font-weight: $font-regular;
    font-size: $normal-font-size;
    line-height: $line-height-text;
    overflow: hidden;
}
.obj {
    margin: 3rem auto 0;
} 
/* ============ section 1 ============ */

.home{
    margin-top: 0;
}
.acc{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.image{
    padding-top: 132%;
}
.relative {
    position: relative;
}
/* ============ section 2 ============ */
.analyse {
    margin: 6rem auto 0;
}
.marquee {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    background: transparent;
    overflow: hidden;
    opacity: 0.30;
}
.marquee__inner{
    font-size: $trois-font-size;
    font-family: $trois-title-font;
    font-weight: $font-regular;
    line-height: $line-height;
    text-align: center;
    text-transform: uppercase;
    color: $span-color;
    -webkit-text-stroke-width: 0.1px;
    white-space: nowrap;
    padding: 0 1rem;
    letter-spacing: 0.015em;
    animation: move-rtl 28000ms linear infinite;
}
@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

#slidy-container {
    width: 95%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: -30px;
    border-radius: 9px;
}
/* ============ section 3 ============ */
.sub {
    position: relative;
    display: flex;
    margin-top: 8rem;
    padding: 180px 0;
    background-color: #99D5CD;
    color: $body-color;
    align-items: center;
    text-align: center;
}

.sub__container {
    width: 100%;
    padding: 0 30px;
}
.sub__heading {
    padding-bottom: 6px;
    cursor: pointer;
    transition: transform .3s;
}
.h1, h1 {
    font-size: calc(20px + 9vw);
    line-height: .8125;
    letter-spacing: 1px;
}
.sub__line {
    font-family: $title-font;
    font-size: $h1-font-size;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 3;
}
.span{
    color: $first-color;
}

.inter1{
    background-color: #5196A5;
    padding: 180px 0;
}
.inter{
    background-color: #222222;
    padding: 160px 0;
    .hero_views {
        width: 100%;
        height: 16rem;
        margin: 0 auto 0;
        position: relative;
        overflow: hidden;
        opacity: 1;
        
    }
}
.hero_inter h2{
    position: relative;
    top: 0rem;
    width: 100%;
    font-family: $trois-title-font;
    font-weight: $font-regular;
    font-size: $biggest-font-size;
    color: $span-color;
    text-align: center;
    line-height: 4rem;
    left: 0;
    z-index: 7;
}
.hero_inter1 h2{
    position: relative;
    top: 0rem;
    width: 100%;
    font-family: $trois-title-font;
    font-weight: $font-regular;
    font-size: $biggest-font-size;
    color: $span-color;
    text-align: center;
    line-height: 4rem;
    left: 0;
    z-index: 7;
    
}
.hero_inter1:hover{
    font-family: $second-title-font;
}
.home_inter {
    width: 100%;
}
/* ============ section 4 ============ */
.rencontre {
    width: 80%;
    margin: 5rem auto 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-gap: 20px;
  }
  
  .column {
    width: 100%;

    p {
        font-size: $normal-font-size;
        line-height: $line-height-text;
    }
  }
  .ren {
    font-family: $title-font;
    font-size: $h2-font-size;
    height: $line-height-text;
    letter-spacing: 0.015rem;
    color: $span-color;
  }
  
.obj2 {
    margin: 3rem auto 0;
}
.util p {
    margin: 3rem auto 0;
}
/* ============ section 4 ============ */

.pace-content {
    position: relative;
    justify-content: center;
    padding-top: 8rem ;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 10px;
    row-gap: 50px;
}
.card5 img{
    width: 300px;
    height: 300px;
    border-radius: 9px;
    object-fit: cover;
    object-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;

    &:hover {
        transform: rotateY(10deg) rotateX(10deg) scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
    }
}

.card5 {
    &:hover .card-body{
        opacity: 1;
        transform: translateY(0px);
    }
    .card-body{
    position: relative;
    z-index: 3;
    color: var(--text-color);
    opacity: 0;
    padding-top: 1rem;
    transform: translateY(30px);
    transition: 0.5s all;
    p {
        font-size: 16px;
        }
     
    }
    h3{
        color: var(--span-color);
    }
}

